spring:
  application:
    name: user-api
  datasource:
    url: jdbc:mysql://localhost:3306/web-security?characterEncoding=utf-8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    generate-ddl: true
    show-sql: true

server:
  ssl:
    key-store: classpath:david.key
    key-store-password: 123456
    key-password: 123456